.container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/netflix_login_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}


.logo {
  position: absolute;
  left: 180px;  
  width: 230px; 
  transform-origin: center;
  
}

.PainelDeLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
