.botao {
  background-color: #d1101a; 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

