.container {
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #141414;
  padding: 4px 16px;
}

.logo {
  height: 50px;
}

.painel {
  padding: 20px 40px;
  flex: 1;
}

h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.linha {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer {
  background-color: #141414;
  color: #888;
  padding: 10px 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
